html 
{
    height: 100%;
}

body
{
    min-height: 100%;
    display: grid;
    grid-template-columns: 1fr;
}

.left-container
{   
    background-image: url('../img/bg.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;

    .body 
    {
        margin: auto;
        padding: 2.5rem;
    }

    .logo 
    {   
        max-width: 40rem;
        width: 100%;
        height: auto;
    }
}

.left-container::before
{
    content: '';
    background-color: rgb(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.right-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    .body 
    {
        padding: 2.5rem;
    }
}

@media (min-width: 992px)
{
    body
    {
        grid-template-columns: 1fr 1fr;
    }

    .right-container
    {
        .body
        {
            padding: 5rem;
        }
    }
}