@import './_base.scss';

html
{
    height: 100%;
}

body
{
    background-image: url('../img/bg.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    min-height: 100%;
}

.main
{
    background-color: rgba(255, 255, 255, 0.85);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

    .body
    {
        padding: 2.5rem;
    }
}

@media (min-width: 992px)
{
    .main
    {
        .body
        {
            padding: 5rem;
        }
    }
}

@media (min-width: 768px)
{
    .main
    {
        background-color: rgba(255, 255, 255, 1);
        width: 50%;
        margin-left: auto;
    }
}
